body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: "Rubik";
}

nav {
  background: linear-gradient(89.99deg, #473bf0 -66.74%, #ffffff 149.48%);
  height: 100px;
  width: 100%;
  text-align: center;
}

a {
  text-decoration: none;
}

label.title {
  color: black;
  font-size: 36px;
  line-height: 100px;
  padding: 0 100px;
  font-weight: 700;
  cursor: pointer;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3.signup-title {
  font-size: 60px;
  line-height: 65px;
  text-align: center;
  font-weight: 700;
}

p.signup-info {
  font-size: 19px;
  line-height: 32px;
  text-align: center;
  font-weight: 400;
}

.main {
  width: 350px;
  height: 500px;
  background: #ffffff;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 5px 20px 50px #000;
}
#chk {
  display: none;
}
.signup {
  position: relative;
  width: 100%;
  height: 100%;
}

.login-label {
  width: 75%;
  height: 20px;
  position: relative;
  padding-left: 14%;
  top: 13px;
  font-weight: 700;
}

.login-input {
  width: 75%;
  height: 10%;
  background: #ffffff;
  justify-content: center;
  display: flex;
  margin: 15px auto;
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: -1px 2px 5px 1px rgba(146, 133, 133, 0.75);
}

.login-chk {
  width: 5%;
  height: 5%;
}

.content-terms {
  display: flex;
  justify-content: center;
}

.label-terms {
  width: 65%;
  padding-left: 10px;
}

button {
  width: 80%;
  height: 50px;
  margin: 10px auto;
  justify-content: center;
  display: block;
  color: #fff;
  background: #473bf0;
  font-size: 1em;
  font-weight: bold;
  margin-top: 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: 0.2s ease-in;
  cursor: pointer;
}
button:hover {
  background: #6d44b8;
}
